language: go
go:
        - 1.5.4
        - 1.6.4
        - 1.7
before_install:
        - go get github.com/mattn/goveralls
install:
        - #
script:
        - go get -t -v ./...
        - diff -u <(echo -n) <(gofmt -d -s .)
        - go tool vet .
        - go test -v -race ./...
        - $HOME/gopath/bin/goveralls -service=travis-ci
